#jumbotron{
    background-color:darkgrey;
    color: black; border: solid;
    border-color: navy;
}

#trainSchedule{
    border: solid; border-color: black;
}

h2{
    background-color: darkblue; color: white;
}

nav{
    background-color: navy;
    color:white;
}

#inputSection{
    border: solid; border-color: black;
    font-weight: bold;
}

#submit{
    border: solid; border-color: black;
    background-color: navy; color:white;
}