body{
    background-image: url(../Images/station.jpg);
}

#navBar{
    text-align: center;
    margin-left: auto; margin-right: auto;
    color:white;
}
#navTitle {
    text-align: center;
    margin-left: auto; margin-right: auto;
}
#submit {
    text-align: center;
    padding: 5px;
    border: solid; border-color: black;
    background-color: navy; color:white;
}

#formNavTitle{
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    margin-right: auto; margin-left: auto;
}

#container{
    height: max-content; width: max-content;
}
#ftd {
    color: white;
}